<!-- {{  startupDetail }} -->

<h1>Start Up Details :</h1>
<div class="table-responsive">
    <table class="table">        
        <tbody *ngIf="startupDetail">
          <tr>
            <td>First Name</td>
            <td>{{startupDetail[0]}}</td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>{{startupDetail[1]}}</td>
          </tr>
          <tr>
            <td>Mail</td>
            <td>{{startupDetail[2]}}</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>{{startupDetail[3]}}</td>
          </tr>
          <tr>
            <td>City</td>
            <td>{{startupDetail[4]}}</td>
          </tr>
          <tr>
            <td>Age</td>
            <td>{{startupDetail[5]}}</td>
          </tr>
          <tr>
            <td>Type</td>
            <td>{{startupDetail[6]}}</td>
          </tr>
          <tr>
            <td>Member 1 name</td>
            <td>{{startupDetail[7]}}</td>
          </tr>
          <tr>
            <td>Member 1 phone</td>
            <td>{{startupDetail[8]}}</td>
          </tr>
          <tr>
            <td>Member 1 mail</td>
            <td>{{startupDetail[9]}}</td>
          </tr>
          <tr>
            <td>Member 2 name</td>
            <td>{{startupDetail[10]}}</td>
          </tr>
          <tr>
            <td>Member 2 phone</td>
            <td>{{startupDetail[11]}}</td>
          </tr>
          <tr>
            <td>Member 2 Mail</td>
            <td>{{startupDetail[12]}}</td>
          </tr>
          <tr>
            <td>Incubator name</td>
            <td>{{startupDetail[13]}}</td>
          </tr>
          <tr>
            <td>Reason for leaving Incubator</td>
            <td>{{startupDetail[14]}}</td>
          </tr>
          <tr>
            <td>Start-up name</td>
            <td>{{startupDetail[15]}}</td>
          </tr>
          <tr>
            <td>Start-up size</td>
            <td>{{startupDetail[16]}}</td>
          </tr>
          <tr>
            <td>Start-up type</td>
            <td>{{startupDetail[17]}}</td>
          </tr>
          <tr>
            <td>Startup idea</td>
            <td>{{startupDetail[18]}}</td>
          </tr>
          <tr>
            <td>Mentorship</td>
            <td>{{startupDetail[19]}}</td>
          </tr>
          <tr>
            <td>Fund</td>
            <td>{{startupDetail[20]}}</td>
          </tr>
          <tr>
            <td>Office space</td>
            <td>{{startupDetail[21]}}</td>
          </tr>
          <tr>
            <td>Problem start-up solves</td>
            <td>{{startupDetail[22]}}</td>
          </tr>
          <tr>
            <td>No of clients</td>
            <td>{{startupDetail[23]}}</td>
          </tr>
          <tr>
            <td>Competitor name</td>
            <td>{{startupDetail[24]}}</td>
          </tr>
          <tr>
            <td>USP over client</td>
            <td>{{startupDetail[25]}}</td>
          </tr>
        </tbody>
    </table>
  </div>