<h4>You start your start-up journey when you click apply</h4>

<div class="container" id="box"><a routerLink="/startup-form" routerLinkActive="active">Apply</a></div>

<h1>StartupCo</h1>
<!-- <img src="../assets/wfh_1.svg"> -->
<video autoplay loop>
    <source src="../assets/teamwork_5.mp4" type="video/mp4">
    <!-- <source src="movie.ogg" type="video/ogg"> -->
  Your browser does not support the video tag.
  </video>
<div id="footer">
    <div id="links">
    <a>About</a>
    <a>Connect</a>
    <a>Careers</a>
    </div>
    <button (click)='gotoStartupDetails()'>Staff section</button>
</div>